body{
    background-color: lightslategrey;
    color:white;

}
h1{
    color:blue;
    border: 2px solid #800080;
}
img{
    border-radius: 50%;
}
#special{
    color: #800080;
    background-color: beige;
}
#special2{
    color: #FF0000;
}
#special3{
    color: #FFFF00;
}
ul{
    color: aqua;
}
ol{
    color: chartreuse;
}