body{
    background-color: lightslategrey;
    color:white;

}
h1{
    color:blue;
}
img{
    border-radius: 50%;
}
#special{
    color: #800080;
    background-color: beige;
}
#special2{
    color: #FF0000;
}
#special3{
    color: #FFFF00;
}